project:
  title: "biostat840-intro-sowmya-parthiban"
  type: website
  output-dir: docs

execute:
  freeze: auto

website:
  title: "Stat Computing Project I"

  navbar:

    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - example_dataset.qmd

format:
  html:
    theme: journal
    css: styles.css
    toc: true

editor: visual
